%html
	%head
		%title Game
		%script{:type => "text/javascript", :src => "/javascripts/jquery-1.6.2.min.js"}
		%script{:type => "text/javascript", :src => "/javascripts/EventSource.js"}
		%script{:type => "text/javascript", :src => "/javascripts/helpers.js"}
		%script{:type => "text/javascript", :src => "/javascripts/jquery-ui-1.8.16.custom.min.js"}
		%script{:type => "text/javascript", :src => "/javascripts/horus_api.js"}
		%link{:type => "text/css", :href => "css/blitzer/jquery-ui-1.8.16.custom.css", :rel => "stylesheet"}
		:javascript

			function currentGameId() {
				return $.currentUrlParam('game_id');
			};

			function onAddTile() {
				var tile = $('input#tile').val();
				addTile(currentGameId(), tile, 
					function() { 
					}, 
					function(errorMessage) {
						$("#error p").html(errorMessage);
						$("#error").show("bounce", {}, 500, function() {
							setTimeout(function() {
						 		$("#error:visible").removeAttr("style").fadeOut();
						 	}, 1000);
						});
					}
				);
				$('#tile').val('');
			};
			
			function onPassTurn() {
				passTurn(currentGameId());
			};
			
			function renderPlayers() {
				var players = $('#players #list');
				players.html("");
				$.each($.players, function(index, nick) {
					var elem;
					if (nick == $.currentPlayer)
						elem = $("<div id=\"" + nick + "\" class=\"current\"/>");
					else
						elem = $("<div id=\"" + nick + "\"/>");
					elem.text(nick).appendTo(players);
				});
			};
			
			$(document).ready(function() {
				$('#tile').bind('keypress', function(e) {
					if (e.which == 13)
						onAddTile();
				});
			
				$('#add').bind('click', function() {
					onAddTile();
				});
				
				$('#pass').bind('click', function() {
					onPassTurn();
				});
				
				// Globals.
				$.players = [];
				$.currentPlayer = "";
				
				// Handle events sent by the server.
				receiveGameEvents(currentGameId(), {
					onTile: function(tile) {
						$("<span class=\"tile ui-corner-all\"/>").text(tile).appendTo('#board');
					},
					onJoin: function(nick) {
						$.players.push(nick);
						renderPlayers();
					},
					onNextTurn: function(nick) {
						$.currentPlayer = nick;
						renderPlayers();
					}
				});
				
				$('#tile').focus();
				$('#controls button').button();
			});
			
		%style{:type => "text/css", :media => "screen"}
			:plain
				body { 
					font-size: 110%; 
				}
				#board {
					border: 1px solid lightgrey;
					background-color: lightblue;
					padding: 10px;
					margin-bottom: 10px;
				}
				#board .tile {
					border: 1px solid gray;
					padding: 2px 4px 2px 4px;
					margin: 1px;
					background: white;
				}
				#players {
					margin-top: 20px;
				}
				#error {
					display: none;
					padding: 0.4em;
				}
				#error h3 {
					margin: 0;
					padding: 0.4em;
				}
				#controls input {
					font-size: 120%;
				}
				#players .current {
					font-weight: bold;
				}
		-unless @interactive # Visitor may only watch the game.
			%style{:type => "text/css", :media => "screen"}
				:plain
					#controls {
						display: none;
					}
					
			
	%body
		#game
			#board{:class => "ui-corner-all"}
			#error{:class => "ui-widget-content ui-corner-all"}
				%h3{:class => "ui-widget-header ui-corner-all"} Oops!
				%p
			#controls
				%span Type a word:
				%input#tile{:type => "text", :class => "text ui-widget-content ui-corner-all"}
				%button#add Add to board
				%button#pass Pass
		#players
			%div Players:
			%div#list