%html
	%head
		%title Horus
		%script{:type => "text/javascript", :src => "javascripts/jquery-1.6.2.min.js"}
		:javascript
			function startNewGame() {
				window.location = '/game.html';
			};
			
			$(document).ready(function() {
			
				$('#new-game').bind('click', function() {
					startNewGame();
				});
			});
			
		%style{:type => "text/css", :media => "screen"}
			:plain
				#new-game {
					height: 25px;
				}
			
	%body
		%button{:id => "new-game", :name => "new-game"}Start